
<div class="row margin-50">
  <div class="ccm">

    <div class="right col-sm-7">
      <div class="text-center margin-top-50">
        <h3 class="padding-bottom-20">Une garantie <strong class="surlignement">Simple et Rapide </strong><br> pour un <strong class="surlignement">Chiffre d’Affaire </strong>Supplémentaire </h3>
        </div>
      <div class="row margin-0">
        <div class="card-ccm col-md-offset-1 col-md-4">
          <div class="logo-ccm">
            <%= image_tag "gift.png", alt: "logo", class: "logo-ccm"%>
          </div>
          <div class="title-ccm">
            <p>
             <strong>JE DEMANDE MON KIT</strong>
            </p>
          </div>
          <div class="explication-ccm">
            <p class="police-ccm">
              Je commande mon Kit Agence et je signe mon contrat Partenaires
            </p>
          </div>
        </div>
          <div class="card-ccm col-md-4 col-md-offset-1">
          <div class="logo-ccm">
            <%= image_tag "language.png", alt: "logo", class: "logo-ccm"%>
          </div>
          <div class="title-ccm">
            <p>
              <strong>TUTORIELS</strong>
            </p>
          </div>
          <div class="explication-ccm">
            <p class="police-ccm">
              Mes équipes se forment à l’appui des supports mis à leur disposition sur l’espace Location
            </p>
          </div>
        </div>
          <div class="card-ccm col-md-offset-1 col-md-4">
          <div class="logo-ccm">
            <%= image_tag "success.png", alt: "logo", class: "logo-ccm"%>

          </div>
          <div class="title-ccm">
            <p>
              <strong>MES 1ERS DOSSIERS</strong>
            </p>
          </div>
          <div class="explication-ccm">
            <p class="police-ccm">
              L’ensemble de l’équipe Cautioneo vous accompagne dans la finalisation de vos 1ers contrats
            </p>
          </div>
        </div>
          <div class="card-ccm col-md-4 col-md-offset-1">
          <div class="logo-ccm">
            <%= image_tag "quality.png", alt: "logo", class: "logo-ccm"%>
          </div>
          <div class="title-ccm">
            <p>
              <strong>REMUNERATION APPORTEUR</strong>
            </p>
          </div>
          <div class="explication-ccm">
            <p class="police-ccm">
              Je perçois trimestriellement mes commissions apporteurs
            </p>
          </div>
        </div>

      </div>
       <div class="text-center margin-top-20">
          <p class="margin-bottom-20"></p>
          <a href="" class="button-banner" >Commender mon kit Guy Hoquet</a>
        </div>
    </div>
    <div class="left col-sm-5">
      <%= partial "layouts/card" %>
    </div>
  </div>
</div>
