
<div class="row margin-50">
  <div class="ccm">

    <div class="right col-sm-7">
      <div class="text-center margin-top-50">
        <h3 class="padding-bottom-20">Une garantie <strong class="surlignement">Simple et Rapide </strong><br> pour un <strong class="surlignement">Chiffre d’Affaire </strong>Supplémentaire </h3>
        </div>
      <div class="row margin-0">
        <div class="card-ccm col-md-offset-1 col-md-4">
          <div class="logo-ccm">
            <%= image_tag "gift.png", alt: "logo", class: "logo-ccm"%>
          </div>
          <div class="title-ccm text-center">
            <p class="police-ccm">
             <strong >Je demande mon Kit</strong>
            </p>
          </div>
          <div class="explication-ccm">
            <p >
              Je commande mon Kit L’Adresse et je signe mon contrat Partenaires
            </p>
          </div>
        </div>
          <div class="card-ccm col-md-4 col-md-offset-1">
          <div class="logo-ccm">
            <%= image_tag "language.png", alt: "logo", class: "logo-ccm"%>
          </div>
          <div class="title-ccm text-center">
            <p class="police-ccm">
              <strong>Tutoriels en ligne</strong>
            </p>
          </div>
          <div class="explication-ccm">
            <p >
             Vos équipes se forment à l’appui des supports mis à leur disposition sur l’Espace Location
            </p>
          </div>
        </div>
          <div class="card-ccm col-md-offset-1 col-md-4">
          <div class="logo-ccm">
            <%= image_tag "success.png", alt: "logo", class: "logo-ccm"%>

          </div>
          <div class="title-ccm text-center">
            <p class="police-ccm">
              <strong>Un expert à vos côtés</strong>
            </p>
          </div>
          <div class="explication-ccm">
            <p >
              L’équipe Cautioneo analyse et certifie l’ensemble de vos dossiers Locataires (solvabilité, fraude)
            </p>
          </div>
        </div>
          <div class="card-ccm col-md-4 col-md-offset-1">
          <div class="logo-ccm">
            <%= image_tag "quality.png", alt: "logo", class: "logo-ccm"%>
          </div>
          <div class="title-ccm text-center">
            <p class="police-ccm">
              <strong>Rémunération Apporteur</strong>
            </p>
          </div>
          <div class="explication-ccm">
            <p >
              Je perçois trimestriellement mes commissions apporteurs
            </p>
          </div>
        </div>

      </div>
       <div class="text-center margin-top-20">
          <p class="margin-bottom-20"></p>
          <a href="#formulaireancre" class="button-banner" >Commander mon kit L'Adresse</a>
        </div>
    </div>
    <div class="left col-sm-5">
      <%= partial "layouts/card" %>
    </div>
  </div>
</div>
