---
title: Le Wagon - Middleman
---

<%= partial "layouts/banner" %>

<%= partial "layouts/testimonial" %>

<%= partial "layouts/ccm" %>

<%= partial "layouts/kit-agence" %>


<div class="row">
  <h3 class="text-center margin-top-50"><strong>On parle de Cautioneo dans la presse</strong></h3>
  <div class="carroussel fond text-center margin-bottom-50">
    <div class="col-xs-2 col-xs-offset-1">
    <img src="images/businessimmo.png" alt="" height="70px" style="margin-top: 20px;">
    </div>
    <div class="col-xs-2">
    <img src="images/destination-immo.jpg" alt="" height="120px" style="">
    </div>
    <div class="col-xs-2">
    <img src="images/immomatin.png" alt="" height="50px" style="margin-top: 25px;">
    </div>
    <div class="col-xs-2">
    <img src="images/radio-immo.jpg" alt="" height="100px" style="">
    </div>
    <div class="col-xs-2">
    <img src="images/capital.jpg" alt="" height="130px" style="">
    </div>
  </div>
</div>
<!--  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); width: 120px;
 -->
<div class="margin-top-50 margin-bottom-50">
<%= partial "layouts/form" %>
</div>

  </div>
</div>
