---
title: Le Wagon - Middleman
---

<%= partial "layouts/banner" %>

<%= partial "layouts/testimonial" %>

<%= partial "layouts/ccm" %>

<%= partial "layouts/kit-agence" %>


<div class="row">
  <h3 class="text-center margin-top-50">On parle de Cautioneo <strong class="surlignement">dans la presse</strong> </h3>
  <div class="carroussel fond text-center margin-bottom-50">
    <div class="col-xs-offset-1 col-xs-2 ">
    <img src="images/businessimmo.png" alt="" height="50px" style="margin-top: 40px;">
    </div>
        <div class="col-xs-2">
    <img src="images/radio-immo.jpg" alt="" height="100px" style="margin-top: 10px;">
    </div>
    <div class="col-xs-2">
    <img src="images/destination-immo.jpg" alt="" height="120px" style="">
    </div>
    <div class="col-xs-2">
    <img src="images/immomatin.png" alt="" height="50px" style="margin-top: 30px;">
    </div>
    <div class="col-xs-2 ">
    <img src="images/capital.jpg" alt="" height="130px" style="padding-left: 0!important; ">
    </div>


  </div>
</div>
<!--  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); width: 120px;
 -->
<div class="margin-top-50 margin-bottom-50">
<%= partial "layouts/form" %>
</div>

  </div>
</div>


<script>
  $('a[href^="#"]').click(function(){
  var the_id = $(this).attr("href");
  if (the_id === '#') {
    return;
  }
  $('html, body').animate({
    scrollTop:$(the_id).offset().top
  }, 'slow');
  return false;
});
</script>
